.message-modal-card {

    height: 27.4rem;
    width: 34rem;

    margin: auto;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: scale(0);
    transition: 300ms ease-in-out;

    z-index: 5;

    &.active {
        transform: scale(1);
    }

    &-image {
        margin-bottom: 1rem;
    }

    &-title {
        text-align: center;

        h2 {
            @include breakpoint-down(small) {
                font-size: 1.2rem;
            }
        }
    }

    &-description {
        color: $darkGray;
        line-height: 2;
        text-align: justify;

        @include breakpoint-down(small) {
            font-size: 0.875rem;
        }
    }

    .got-it {
        margin-top: 2rem;
    }

    @include breakpoint-down(small) {
        padding: 2rem 1.5rem;
        width: 85%;
    }
}