/* Colors */
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);

$white: hsl(255, 100%, 100%);

/* font-sizes */
$fontXSmall: 0.8125rem;
$fontSmall: 0.875rem;       //14px
$fontRegular: 1rem;         //16px
$fontMedium: 1.125rem;      //18px